
/* СБРОС СТИЛЕЙ СТРАНИЦЫ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1205px;
  margin: 0 auto;
}

/* КОМПОНЕНТЫ */

.button-img {
  width: 23px;
}

.block-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  background: #eeeafd;
  color: #383ad1;;
  gap: 4px;
}

/* ШРИФТЫ */

@font-face {
    font-family: 'Jost-R';
    font-weight: 400;
    font-style: normal;
    src: local('Jost-Regular'),
      url(../fonts/Jost-Regular.woff) format('woff');
}

body {
  font-family: 'Jost-R';
}


/* HEADER */

.header {
  transition: all .7s;
  background-color: #e8e7e7;
  height: 160px;
}

.header-inner {
  gap: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-left_part {
  position: relative;
}

.header-img-inner {
  border-radius: 12px;
}

.hide {
  position: relative;
  transform: rotate(-90deg);
}

.hide-button {
  position: absolute;
  display: flex;
  gap: 7px;
  bottom: 325px;
  left: 205px;
}

.hide-button_inner {
  cursor: pointer;
  border: none;
  background: none;
  color: rgba(0, 0, 0, 0.54);
}

.hide-img_inner {
  position: relative;
  width: 9px;
  top: 4px;
  transform: rotate(-180deg);
}

.header-main_img {
  position: relative;
  width: 590px;
  height: 112px;
}

.header-main_title {
  position: absolute;
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
  bottom: 60%;
  left: 10px;
}

.header-main_description {
  display: flex;
  position: absolute;
  color: #fff;
  line-height: 1;
  font-size: 14px;
  max-width: 490px;
  bottom: 10%;
  left: 10px;
}

.header-button {
  padding: 20px 0 0 0;
}

.header-button_inner {
  padding: 10px 25px;
  border-radius: 10px;
  background: rgb(56, 58, 209);
  color: #fff;
}


/* SLIDER */

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 0 0;
}

.card {
  position: relative;
}

.card:hover {
  transform: translateY(-5px);
}

.wrapper {
  max-width: 640px;
  width: 100%;
  position: relative;
  margin-bottom: 25px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 5) - 16px );
  gap: 18px;
  overflow: hidden;
  scroll-behavior: smooth;
  padding-top: 5px;
}

.carousel.dragging {
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel .card {
  height: 110px;
  width: 120px;
  border-radius: 26px;
  border: 1px solid #383ad1;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  text-align: center;
}

.arrow-left {
  z-index: 10;
  height: 20px;
  width: 20px;
  background-color: #e8e6e6;
  border-radius: 50%; 
  cursor: pointer;
  position: absolute;
  left: -22px;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 0 12px #636363;
}

.arrow-right {
  height: 20px;
  width: 20px;
  background-color: #e8e6e6;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  left: 645px;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 0 12px #636363;
} 

.sponsor-description {
  z-index: 10;
  position: absolute;
  max-width: 68px;
  text-align: left;
  bottom: 0;
  color: #fff;
  font-size: 12px;
  margin: 0 18px 10px 0;
  user-select: none;
  line-height: 1;
  font-family: "Jost-R";
}

.card .sponsor-card-img img {
  position: absolute;
  width: 108px;
  height: 98px;
  border-radius: 25px;
  object-fit: cover;
}

.sponsor-card-img {
  margin: 6px 109px 104px 0;
}

/*  HEADER-2 */

.text {
  display: flex;
  color: #fff;
}

.header-two_text {
  width: 130px;
}

.header-two_inner_style {
  display: flex;
  justify-content: center;
  align-items: center;
  position: static;
  transform: translateY(-220px);
  width: 100%;
  background: linear-gradient(90deg, #6a42b6,#9b6edd,#bc9b58);
  transition: all .5s;
}

.active {
  transform: translateY(-180px);
  transition: all .7s;
}

.active-2 {
  transform: translateY(-160px);
  transition: all .7s;
}

.active-3 {
  transform: translateY(-218px);
  transition: all .5s;
}

.active-4 {
  transform: translateY(10px);
  transition: all .5s;
}

.header-active {
  transition: all .5s;
  height: 59px;
}

.header-two_img_arrow {
  height: 8px;
}

.arrow-haeder_two {
  margin-left: -42px;
}

.header-two_img {
  width: 100px;
  height: 58px;
  padding-left: 10px;
}

/* MAIN */

.main {
  padding-top: 30px;
  box-shadow: 0 0 15px #e0dfdf;
}

.main-wrapper {
  padding-bottom: 16px;
  border-bottom: 1px solid #d6d5d5;
}

.main-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-left: 400px;
  color: #000000de;
}

.main-psb {
  display: flex;
  margin-bottom: -40px;
  width: 200px;
  gap: 5px;
}

.main-logo-text {
  padding-top: 2px;
  color: #15178a;
}

.header-logo_inner {
  width: 90px;
}

.main-list_img {
  width: 23px;
}

.modif-img {
  width: 37px;
}

.main-listt {
  display: flex;
  gap: 10px;
}

.main-list_img_inner {
  transform: rotate(-90deg);
}

/* LEFT-PART */

.block-wrapper {
  width: 230px;
  height: 600px;
  margin-left: 202px;
  overflow: auto;
}

.arrow-block {
  transform: rotate(-90deg);
  width: 7px;
}

.block-list_item {
  color: #5c5b5b;
  margin-top: 40px;
}

.block-list_item:hover {
  color: #000000;
}

.block-list_item_border {
  padding-top: 40px;
  border-bottom: 1px solid;
  color: #bbbaba;
  width: 200px;
}

.block-list_main {
  padding: 20px 10px 0 0;
}

.block-list_item_border_help {
  margin-top: 30px;
  padding-top: 25px;
  width: 150px;
  border-top: 1px solid #bbbaba;
}

.block-list_text {
  display: flex;
  padding-top: 10px;
  gap: 45px;
  color: #5e5d5d;
}

.block-list_text:hover {
  color: #000000;
}

.block-product {
  padding-top: 15px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  color: #5e5d5d;
}

.block-product_inner_text:hover {
  color: #000000;
  font-weight: 900;
}

.block-list_main-wrapper-3 {
  display: none;
}

.block-list_main-wrapper-2 {
  display: none;
}

.block-list_main-wrapper {
  display: none;
}

.block-button_img {
  padding-top: 6px;
}

.show-button {
  display: block;
}

.input-sum_block {
  width: 88px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #d9d8d83c;
  color: #737373;
  background: none;
  outline: none;
}

/* RIGHT-RAPRT */

.full-wrapper {
  display: flex;
}

.main-part_right {
  padding-top: 85px;
}

.check-title_inner {
  font-size: 18px;
}

.check-description_inner {
  border: none;
  border-bottom: 1px solid #d9d8d825;
  outline: none;
  font-size: 45px;
}

.check-description {
  padding-top: 5px;
}

/* FOUR-LINK */

.four-link {
  padding-top: 80px;
}

.four-link_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 40px;
}

.four-link_text {
  color: rgb(167, 0, 239);
}

.four-link_inner {
  display: flex;
  gap: 5px;
}

.four-link_img_inner {
  width: 18px;
}

/* PSB-CARD */

.psb-card {
  padding-top: 70px;
}

.psb-card_inner {
  display: flex;
  border: 1px solid #d6d5d5;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 16px 25px 11px 20px;
}

.psb-card_wrapper {
  display: flex;
}

.psb-wrapper_inner {
  display: flex;
  flex-direction: column;
}
.psb-card_number_check {
  padding-left: 400px;
}

.psb-card_dots {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.psb-card_dots_inner {
  width: 30px;
}

.psb-card_dots_img {
  padding-top: 5px;
  width: 18px;
}

.psb-card_img {
  width: 40px;
}

.psb-card_inner_img {
  border-radius: 10px;
  width: 35px;
}

.psb-card_dots_text {
  color: #9b9a9a;
}

.psb-card_number_check {
  color: #5e5d5d;
}

/* STORY */

.story {
  padding-top: 40px;
}

.story-wrapper {
  display: flex;
  padding-top: 40px;
  gap: 50px;
}
.story-description {
  color: #0000008a;;
}

.input-story {
  width: 110px;
  border: none;
  outline: none;
  font-size: 17px;
  color: #000000;
  border-bottom: 1px solid #9b9a9a72;;
}

.story-2 {
  color: #2f8d04;
}

.story-3 {
  color: #bd1212;
}

/* SEARCH */

.search {
  padding-top: 70px;
  padding-bottom: 30px;
}

.search-wrapper {
  display: flex;
  gap: 19px;
  padding-bottom: 10px;
  border-bottom: 1px solid #9b9a9a5f;
  width: 840px;
}

.search-filter_glass {
  display: flex;
  gap: 19px;
  padding-left: 90px;
}

.filter {
  display: flex;
  gap: 5px;
}

.search-link {
  display: flex;
  gap: 5px;
}

.search-all {
  color: #9b9a9a;
}

.filter-text {
  color: #383ad1;
}

.search-glass_img {
  padding-top: 3px;
}

.glass-img_inner {
  width: 19px;
}

.back {
  background: #dfd8fa;
  color: #383ad1;
  width: 20px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  height: 20px;
  border-radius: 50px;
}

.search-hover {
  padding-bottom: 12px;
  border-bottom: 4px solid #000000bf;
  border-radius: 2px;
  color: #000000bf;
  transition: all .3s;
}


/* TODAY */

.today {
  padding-bottom: 40px;
}

.today-wrapper {
  display: flex;
  gap: 20px;
}

.today-wrapper_inner {
  border: 1px solid #9b9a9a4e;
  padding: 5px 10px;
  border-radius: 8px;
}

.today-wrapper_inner:hover {
  border: 1px solid #baabf8;
}

.today-wrapper_inner_text {
  color: #3a3a3a;
}

.today-wrapper_img_text_inner {
  color: #3a3a3a;
}

.today-wrapper_img {
  padding-top: 4px;
}

.today-wrapper_img_inner {
  width: 25px;
}

.today-wrapper_inner_calendar {
  display: flex;
  gap: 9px;
  align-items: center;
  background-color: #dfd8fa;
  width: 220px;
  height: 35px;
  padding: 0 0 0 10px;
  border-radius: 8px;
}

.today-wrapper_inner_calendar:hover {
  border: 1px solid #baabf8;
}

/* DATE */

.data-inner_left {
  display: flex;
  flex-direction: column;
}

.data-left_C {
  padding-bottom: 8px;
  font-size: 14px;
  color: #9b9a9a;
}

.data-left_input_inner_full {
  border: none;
  border-bottom: 1px solid #9b9a9a;
  width: 300px;
  outline: none;
  background-size: 20px;
  font-size: 16px;
  background-position: 100%;
  background-repeat: no-repeat;
}

/* CUSTOM-CHECKBOX */

.data-left_checkbox_inner_full {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}

.custom-checkbox {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 7px;
  background: #9b9a9a77;
  cursor: pointer;
}

.custom-checkbox::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../img/checkm.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transform: scale(0);
  transition: .2s ease-in;
}

.data-left_checkbox_inner_full:checked + .custom-checkbox::before{
  transform: scale(1);
}

.data-left_checkbox {
  display: flex;
  padding-top: 10px;
  gap: 12px;
}

.data-left_input_img {
  width: 20px;
}

.data-wrapper {
  display: flex;
  gap: 50px;
}

/* HISTORY */

.history {
  padding-top: 20px;
}

.history-date {
  padding-bottom: 30px;
}

.history-wrapper {
  padding: 15px 1px 15px 15px;
  width: 1000px;
  cursor: pointer;
}

.hov-1:hover {
  background: #d9d8d86b;
  border-radius: 10px;
}

.hov-2:hover {
  background: #d9d8d86b;
  border-radius: 10px;
}

.hov-3:hover {
  background: #d9d8d86b;
  border-radius: 10px;
}

.hov-4:hover {
  background: #d9d8d86b;
  border-radius: 10px;
}

.hov-5:hover {
  background: #d9d8d86b;
  border-radius: 10px;
}

.hov-6:hover {
  background: #d9d8d86b;
  border-radius: 10px;
}

.history-money_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.history-card {
  display: flex;
  gap: 15px;
}

.history-card_img {
  background: #b7b8ee;
  border-radius: 10px;
  width: 60px;
  margin-top: 30px;
  height: 50px;
}

.history-card_img_inner {
  width: 50px;
  padding: 5px 0 9px 8px;
}

.history-status {
  color: #359f58;
}

.history-1 {
  width: 550px;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #d9d8d83c;
  color: #737373;
  background: none;
  outline: none;
}

.history-2 {
  width: 550px;
  font-size: 15px;
  border: none;
  border-bottom: 1px solid #d9d8d83c;
  background: none;
  outline: none;
}

.history-3 {
  width: 550px;
  font-size: 15px;
  border: none;
  border-bottom: 1px solid #d9d8d83c;
  color: #737373;
  background: none;
  outline: none;
}

/* SETTINGS-IMG */

.settings {
  width: 45px;
  margin-left: 705px;
  margin-top: -30px;
  cursor: pointer;
}

.settings-wrapper {
  position: fixed;
  transform: translateX(950px);
  transition: all 0.7s;
  left: 970px;
  bottom: 1px;
  background: #ffffff;
  box-shadow: 0 0 10px #000000;
  padding-right: 100px;
  z-index: 10;
  padding-left: 70px;
  padding-top: 23px;
  padding-bottom: 150px;
  height: 100%;
  overflow: auto;
}

.settings-list_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #73737344;
  gap: 18px;
}

.settings-wrapper_show {
  transition: all 0.7s;
  transform: translateX(-1px);
  right: 0;
}

/* MEDIA */

@media screen and (min-width: 1920px) {
  .settings-wrapper {
    transform: translateX(950px);
  }
  .settings-wrapper_show {
    transform: translateX(400px);
  }
}

.settings-description {
  font-size: 15px;
  color: #737373;
  padding: 27px 0;
}

.settings-list_item_inner {
  display: flex;
  color: #737373;
  padding-right: 10px;
}

.settings-list_full {
  display: flex;
  padding-right: 50px;
}

.settings-list_title_text {
  padding-bottom: 40px;
}

.settings-list_title {
  display: flex;
  gap: 178px;
  align-items: baseline;
}

.settings-list_item {
  display: flex;
  justify-content: space-between;
  width: 300px; 
}

.settings-title {
  font-size: 18px;
  color: #000000;
}

.settings-list_ease_img {
  width: 30px;
}

.settings-list_burger {
  width: 30px;
}

.settings-list_title_img {
  transform: rotate(-90deg);
}
.settings-full_wrapper {
  position: relative;
}

.settings-krest {
  cursor: pointer;
  margin-left: -50px;
  width: 25px;
}

/* DOCUMENT-SECTION */

.document-wrapper_this_full_wr {
  position: relative;
}

.document-wrapper {
  transform: translateX(950px);
  transition: all 0.7s;
  position: fixed;
  z-index: 10;
  bottom: 1px;
  padding: 100px 90px 45px 60px;
  right: 1px;
  left: 855px;
  height: 100%;
  overflow: auto;
  background: #ffffff;
  box-shadow: 0 0 10px #000000;
  cursor: default;
}

.wrapper-krest {
  position: absolute;
  cursor: pointer;
  top: 30px;
  width: 30px;
}

.document-wrapper_show {
  transition: all 0.7s;
  transform: translateX(-1px);
}

.document-name {
  display: flex;
  padding-top: 10px;
  gap: 15px;
  padding-top: 20px;
}

.document-name_form_full_wrapper {
  display: flex;
  flex-direction: column;
}

.document-name_img {
  background: #b7b8ee;
  border-radius: 10px;
  width: 60px;
  height: 52px;
}

.money-in_ready_text {
  margin-top: 15px;
  width: 120px;
  text-align: center;
  background: #e1f5e6;
  color: #41b665;
  border-radius: 7px;
  margin-bottom: 30px;
}

.document-name_img_inner {
  padding: 4px 0 0 8px;
  width: 50px;
}

/* MONEY-IN */

.money-in {
  display: flex;
  flex-direction: column;
}

.money-print_img {
  height: 20px;
  width: 20px;
}

/* MONEY-PRINT */

.money-print {
  margin-top: 20px;
  padding: 7px 7px;
  width: 360px;
  border-top: 1px solid #5b5b5b5c;
  border-bottom: 1px solid #5b5b5b5c;
  display: flex;
  gap: 160px;
}

.money-print_img {
  display: flex;
}

/* FILL */

.fill-text {
  padding-top: 30px;
  font-size: 20px;
}

.fill-icon_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 140px);
  row-gap: 20px;
  column-gap: 60px;
  padding-top: 30px;
}

.fill-icon_card_text {
  font-size: 17px;
  color: rgb(139, 0, 239);
}

.fill-icon_card {
  display: flex;
  width: 220px;
}

.fill-icon_card_img {
  width: 24px;
}

/* PART-MONEY */

.part-money {
  padding-top: 30px;
}

.part-money-title {
  font-size: 22px;
  margin-bottom: 15px;
}

.part-money_number {
  color: #7c7c7c;
}

/* FULL-INPUT-STYLE */

.document-form_description {
  padding-top: 20px;
}

.input-psb_card {
  border: none;
  border-bottom: 1px solid #d9d8d825;
  outline: none;
  font-size: 18px;
}

.input-psb_number_card {
  border: none;
  border-bottom: 1px solid #d9d8d825;
  color: #7c7c7c;
  outline: none;
  font-size: 16px;
}

.input-psb_sum {
  border: none;
  border-bottom: 1px solid #d9d8d825;
  outline: none;
  font-size: 16px;
  background: none;
}

.input-document {
  border: none;
  border-bottom: 1px solid #d9d8d835;
  outline: none;
  font-size: 16px;
  width: 330px;
}

.input-document_des {
  border: none;
  border-bottom: 1px solid #d9d8d835;
  outline: none;
  font-size: 14px;
  width: 340px;
}

.input-document_grup {
  border: none;
  border-bottom: 1px solid #d9d8d835;
  outline: none;
  font-size: 14px;
  width: 340px;
  padding-top: 13px;
}

.input-money-in {
  border: none;
  border-bottom: 1px solid #d9d8d835;
  outline: none;
  font-size: 50px;
}

.input-money-pay {
  border: none;
  border-bottom: 1px solid #d9d8d835;
  color: #7c7c7c;
  outline: none;
  font-size: 14px;
  width: 450px;
}

.input-details_1 {
  padding-top: 5px;
  border: none;
  border-bottom: 1px solid #d9d8d835;
  outline: none;
  font-size: 13px;
  width: 500px;
}

.input-details_2 {
  padding-top: 5px;
  border: none;
  border-bottom: 1px solid #d9d8d835;
  outline: none;
  font-size: 14px;
  width: 300px;
}

.input-details_3 {
  padding-top: 5px;
  border: none;
  border-bottom: 1px solid #d9d8d835;
  outline: none;
  width: 300px;
  font-size: 14px;
}

.input-details_4 {
  padding-top: 5px;
  border: none;
  border-bottom: 1px solid #d9d8d835;
  outline: none;
  font-size: 15px;
  width: 300px;
}


.money-print_text_inner {
  margin-top: -3px;
  padding-left: 5px;
  font-size: 19px;
  color: rgb(139, 0, 239);
}

.input-money-part {
  border: none;
  border-bottom: 1px solid #d9d8d835;
  outline: none;
  font-size: 17px;
  margin-bottom: 30px;
}


.details-text {
  padding-bottom: 20px;
  font-size: 20px;
}

.details-share_title {
  color: #7c7c7c;;
}

.details-share_title {
  padding-top: 16px;
}

.money-in-text {
  font-size: 20px;
  padding: 25px 0 18px 0;
}

.money-in_ready_text_inner {
  font-size: 20px;
}





